#  Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

#  Dočasné soubory editorů
*.swp
*.swo
*.tmp

#  VSCode settings (pokud používáš)
.vscode/

#  MacOS systémové soubory (pokud někdy otevřeš projekt na Macu)
.DS_Store

#  Windows systémové soubory
Thumbs.db
